Package: com.yourstore.shield
Name: StoreShield Premium
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Premium Protection for CODM
Maintainer: YourStore
Author: YourStore
Section: Tweaks
