Package: com.yourname.shield
Name: SystemShield
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Device Fingerprint Protection
Maintainer: Cloud
Author: Cloud
Section: Tweaks
